@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Bold.woff2"), url("../fonts/PTSans-Bold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Regular.woff2"), url("../fonts/PTSans-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

.page-body {
  background-color: #E7E5E5;
}

.page-container {
  background-color: white;
  margin: 0 auto;
  max-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.page-container a {
  text-decoration: none;
  color: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: relative;
  z-index: 0;
}

@media (max-width: 767px) {
  .main-navigation {
    transition: all 0.2s ease-out;
    height: 223px;
    background-color: #81B3D2;
  }
}

@media (max-width: 767px) {
  .main-navigation--closed {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    visibility: hidden;
    transition: all 0.15s ease-out;
  }
}

.main-navigation__list {
  position: relative;
  height: 56px;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .main-navigation__list {
    z-index: 2;
    flex-direction: column;
    height: auto;
    align-items: center;
  }
}

.main-navigation__togle--open {
  width: 24px;
  height: 55px;
  cursor: pointer;
  position: absolute;
  left: 83%;
  top: 0px;
  z-index: 3;
  padding-right: 10px;
  padding-left: 10px;
}

@media (max-width: 767px) {
  .main-navigation__togle--open::after {
    position: absolute;
    bottom: 35px;
    content: "";
    width: 23px;
    height: 4px;
    background-color: #81B3D2;
    box-shadow: 0 9px 0 0 #81B3D2, 0 18px 0 0 #81B3D2;
  }
  .main-navigation__togle--open:hover::after {
    opacity: 0.6;
  }
  .main-navigation__togle--open:active::after {
    opacity: 0.3;
  }
}

.main-navigation__togle--close {
  z-index: 3;
  cursor: pointer;
}

@media (max-width: 767px) {
  .main-navigation__togle--close {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding-top: 26px;
    padding-left: 10px;
    padding-right: 10px;
    left: 83%;
  }
  .main-navigation__togle--close::before, .main-navigation__togle--close::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 4px;
    background-color: white;
    transition: all 0.3s ease 0s;
  }
  .main-navigation__togle--close::before {
    transform: rotate(45deg);
  }
  .main-navigation__togle--close::after {
    transform: rotate(-45deg);
  }
  .main-navigation__togle--close:hover::after, .main-navigation__togle--close:hover::before {
    opacity: 0.6;
  }
  .main-navigation__togle--close:active::after, .main-navigation__togle--close:active::before {
    opacity: 0.3;
  }
}

.main-navigation__item {
  width: 238px;
  list-style: none;
  padding-top: 15px;
  text-align: center;
}

@media (max-width: 767px) {
  .main-navigation__item {
    line-height: 60px;
    padding: 0;
    height: 56px;
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.4), inset 0px 2px 0px rgba(255, 255, 255, 0.2);
    width: 100%;
  }
  .main-navigation__item:first-child {
    box-shadow: none;
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.4);
  }
  .main-navigation__item:last-child {
    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.2);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom;
  }
  .main-navigation__item:hover {
    background-color: #669EC0;
  }
  .main-navigation__item:active {
    background-color: #5496BD;
  }
}

.main-navigation__item a {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.main-navigation__item a:focus {
  color: #604E43;
}

.main-navigation__item a:hover {
  color: #81B3D2;
}

.main-navigation__item a:active {
  color: black;
  opacity: 0.3;
}

@media (max-width: 767px) {
  .main-navigation__item a {
    padding: 13px 60px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
  }
  .main-navigation__item a:focus {
    color: white;
  }
  .main-navigation__item a:hover {
    color: white;
  }
  .main-navigation__item a:active {
    opacity: 0.3;
  }
}

@media (max-width: 320px) {
  .main-navigation__item a {
    padding: 0;
  }
}

.main-navigation-line {
  position: relative;
}

.main-navigation-line picture {
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .main-navigation-line picture {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-navigation-line {
    background-color: #fff;
    width: 100%;
    height: 56px;
  }
}

.main-navigation__item--logo {
  display: block;
  list-style: none;
  margin-left: 29px;
  margin-right: 29px;
  z-index: 2;
}

@media (max-width: 767px) {
  .main-navigation__item--logo {
    display: none;
  }
}

.intro-wrapper {
  position: relative;
  z-index: -1;
}

.intro {
  width: 100%;
  height: 518px;
  background-image: url("../img/back-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-resolution: 2dppx) {
  .intro {
    background-size: 1200px auto;
    background-image: url("../img/back-desktop-retina.jpg");
  }
}

@media (max-width: 767px) {
  .intro {
    background-image: url("../img/back-tablet.jpg");
  }
}

@media (max-width: 767px) and (min-resolution: 2dppx) {
  .intro {
    background-size: 768px auto;
    background-image: url("../img/back-tablet-retina.jpg");
  }
}

@media (max-width: 320px) {
  .intro {
    background-image: url("../img/back-mobile.jpg");
    height: 389px;
  }
}

@media (max-width: 320px) and (min-resolution: 2dppx) {
  .intro {
    background-size: 320px auto;
    background-image: url("../img/back-mobile-retina.jpg");
  }
}

.intro__slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 519px;
  background-image: url("../img/intro-triangle.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
}

@media (max-width: 320px) {
  .intro__slogan {
    height: 389px;
  }
}

.intro__slogan img {
  padding-bottom: 13px;
}

@media (max-width: 767px) {
  .intro__slogan img {
    margin-top: -56px;
  }
}

@media (max-width: 320px) {
  .intro__slogan img {
    margin-top: 19px;
  }
}

.title {
  margin: 0 auto;
  max-width: 490px;
}

.title__position {
  margin-top: 55px;
  margin-bottom: 45px;
  text-align: center;
}

@media (max-width: 1199px) {
  .title__position {
    margin-top: 43.5px;
    margin-bottom: 55.5px;
  }
}

@media (max-width: 767px) {
  .title__position {
    margin-top: 33.5px;
    margin-bottom: 17.5px;
    padding: 0 17px;
  }
}

.title__heading {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 33px;
}

@media (max-width: 767px) {
  .title__heading {
    font-size: 18px;
  }
}

.title__content {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}

.featurse {
  display: flex;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .featurse {
    display: block;
  }
}

.featurse__title {
  background-color: #81B3D2;
  flex-direction: column;
  display: flex;
  text-align: center;
  flex: calc(33.33% - 80px);
  padding: 0 40px;
}

@media (max-width: 767px) {
  .featurse__title {
    background-image: url("../img/main-content-triangle.svg");
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 5;
    padding: 0 17px 40px 17px;
  }
}

@media (max-width: 767px) {
  .featurse__title--position {
    background-image: none;
    padding: 0 17px 37px 17px;
  }
}

.title__heading__features {
  margin: 0;
  color: white;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding-top: 52px;
}

@media (max-width: 1199px) {
  .title__heading__features {
    padding-top: 42px;
  }
}

@media (max-width: 767px) {
  .title__heading__features {
    padding-top: 70px;
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .title__heading__features--position {
    padding-top: 36px;
  }
}

.title__content__features {
  margin: 0;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-top: 22px;
}

@media (max-width: 767px) {
  .title__content__features {
    padding-top: 14px;
  }
}

.title__content__features--number {
  margin: 0;
  padding-top: 14px;
}

.featurse__image {
  background-image: url("../img/photo-city-desctop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 256px;
  flex: 66.6%;
}

@media (max-width: 767px) {
  .featurse__image {
    height: 256px;
  }
}

@media (max-width: 320px) {
  .featurse__image {
    background-image: url("../img/photo-city-mobile.jpg");
    height: 260px;
  }
}

@media (max-width: 320px) and (min-resolution: 2dppx) {
  .featurse__image {
    background-image: url("../img/photo-city-mobile-retina.jpg");
    background-size: 100%;
  }
}

@media (min-width: 321px) and (min-resolution: 2dppx) {
  .featurse__image {
    background-size: auto 256px;
    background-image: url("../img/photo-city-desctop-retina.jpg");
  }
}

.featurse__image--second {
  order: -1;
  background-image: url("../img/photo-bridge-desctop.jpg");
}

@media (max-width: 320px) {
  .featurse__image--second {
    background-image: url("../img/photo-bridge-mobile.jpg");
  }
}

@media (max-width: 320px) and (min-resolution: 2dppx) {
  .featurse__image--second {
    background-image: url("../img/photo-bridge-mobile-retina.jpg");
    background-size: 100%;
  }
}

@media (min-width: 321px) and (min-resolution: 2dppx) {
  .featurse__image--second {
    background-size: auto 256px;
    background-image: url("../img/photo-bridge-desctop-retina.jpg");
  }
}

@media (max-width: 1200px) {
  .title__content__features--separator {
    display: none;
  }
}

@media (max-width: 767px) {
  .title__heading__features--separator {
    display: none;
  }
}

.our-features--wrapper {
  display: flex;
  justify-content: space-around;
  padding: 60px 0 80px 0;
}

@media (max-width: 1199px) {
  .our-features--wrapper {
    padding: 60px 0 58px 0;
  }
}

@media (max-width: 767px) {
  .our-features--wrapper {
    flex-direction: column;
    padding: 14px 31px 19px 19px;
  }
}

.our-features {
  width: 300px;
  display: grid;
  grid-template: 75px 55px 1fr / 1fr;
  text-align: center;
}

@media (max-width: 767px) {
  .our-features {
    width: 100%;
    height: auto;
    grid-template: 1fr 0.5fr / 1fr 85%;
    align-items: center;
    text-align: left;
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .our-features--position {
    order: 3;
  }
}

.our-features__item {
  margin: 0 auto;
}

@media (max-width: 767px) {
  .our-features__item img {
    width: 90%;
  }
}

.title__heading--position {
  margin: 0;
  padding-top: 22px;
}

@media (max-width: 767px) {
  .title__heading--position {
    text-align: left;
    margin: auto 0;
    padding-left: 8px;
    padding-top: 0;
  }
}

.title__content--position {
  padding: 15px 15px 0 15px;
}

@media (max-width: 767px) {
  .title__content--position {
    padding-left: 8px;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 0;
  }
}

.featurse-block {
  display: flex;
}

.featurse-block__title {
  background-color: #EEEEEE;
  padding-bottom: 62px;
}

.featurse-block__heading {
  color: black;
  margin-top: -8px;
}

.featurse-block__content {
  color: black;
  margin-top: -9px;
}

.featurse-block__content--position {
  margin-top: 0;
}
/*# sourceMappingURL=style.css.map */