.main-header {
    position: relative;
    z-index: 0;
}

.main-navigation {

    @media (max-width:767px) {
        transition: all 0.2s ease-out;
        height: 223px;
        background-color: #81B3D2;
    }
}

@media (max-width:767px) {

    .main-navigation--closed {
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
        visibility: hidden;
        transition: all 0.15s ease-out;

    }
}

.main-navigation__list {
    position: relative;
    height: 56px;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;

    @media (max-width:767px) {
        z-index: 2;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
}


.main-navigation__togle--open {
    width: 24px;
    height: 55px;
    cursor: pointer;
    position: absolute;
    left: 83%;
    top: 0px;
    z-index: 3;
    padding-right: 10px;
    padding-left: 10px;

    @media (max-width:767px) {
        &::after {
            position: absolute;
            bottom: 35px;
            content: "";
            width: 23px;
            height: 4px;
            background-color: #81B3D2;
            box-shadow: 0 9px 0 0 #81B3D2, 0 18px 0 0 #81B3D2;
        }

        &:hover::after {
            opacity: 0.6;
        }

        &:active::after {
            opacity: 0.3;
        }
    }
}

.main-navigation__togle--close {
    z-index: 3;
    cursor: pointer;

    @media (max-width:767px) {
        position: absolute;
        cursor: pointer;
        width: 30px;
        height: 30px;
        padding-top: 26px;
        padding-left: 10px;
        padding-right: 10px;
        left: 83%;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 28px;
            height: 4px;
            background-color: white;
            transition: all 0.3s ease 0s;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

        &:hover::after,
        &:hover::before {
            opacity: 0.6;
        }

        &:active::after,
        &:active::before {
            opacity: 0.3;
        }
    }
}

.main-navigation__item {
    width: 238px;
    list-style: none;
    padding-top: 15px;
    text-align: center;

    @media (max-width:767px) {
        line-height: 60px;
        padding: 0;
        height: 56px;
        box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.4), inset 0px 2px 0px rgba(255, 255, 255, 0.2);
        width: 100%;

        &:first-child {
            box-shadow: none;
            box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.4)
        }

        &:last-child {
            box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.2);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
            background-repeat: no-repeat;
            background-size: 100% 7px;
            background-position: bottom;
        }

        &:hover {
            background-color: #669EC0;
        }

        &:active {
            background-color: #5496BD;
        }
    }


    a {
        font-family: 'PT Sans';
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;

        &:focus {
            color: #604E43;
        }

        &:hover {
            color: #81B3D2;
        }

        &:active {
            color: black;
            opacity: 0.3;
        }

        @media (max-width:767px) {
            padding: 13px 60px;
            color: white;
            font-weight: 700;
            font-size: 18px;
            line-height: 40px;

            &:focus {
                color: white;
            }

            &:hover {
                color: white;
            }

            &:active {
                opacity: 0.3;
            }
        }

        @media (max-width:320px) {
            padding: 0;
        }

    }
}

.main-navigation-line {
    position: relative;

    picture {
        display: block;
        text-align: center;
    }

    @media (min-width:768px) {
        picture {
            display: none;
        }
    }

    @media (max-width:767px) {
        background-color: #fff;
        width: 100%;
        height: 56px;
    }
}

.main-navigation__item--logo {
    display: block;
    list-style: none;
    margin-left: 29px;
    margin-right: 29px;
    z-index: 2;

    @media (max-width:767px) {
        display: none;
    }

}

.intro-wrapper {
    position: relative;
    // top: 56px;
    z-index: -1;
}

.intro {
    // position: absolute;
    // top: -56px;
    width: 100%;
    height: 518px;
    background-image: url("../img/back-desktop.jpg");


    @media (min-resolution: 2dppx) {
        background-size: 1200px auto;
        background-image: url("../img/back-desktop-retina.jpg");
    }

    background-position: center;
    background-repeat: no-repeat;
    // z-index: -1;

    @media (max-width:767px) {
        background-image: url("../img/back-tablet.jpg");

        @media (min-resolution: 2dppx) {
            background-size: 768px auto;
            background-image: url("../img/back-tablet-retina.jpg");
        }
    }

    @media (max-width:320px) {
        background-image: url("../img/back-mobile.jpg");
        // top: -121px;
        height: 389px;

        @media (min-resolution: 2dppx) {
            background-size: 320px auto;
            background-image: url("../img/back-mobile-retina.jpg");
        }
    }
}

.intro__slogan {

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 519px;
    background-image: url("../img/intro-triangle.svg");
    background-position: center bottom;
    background-repeat: no-repeat;

    @media (max-width:320px) {
        height: 389px;
    }

    img {
        padding-bottom: 13px;

        @media (max-width:767px) {
            margin-top: -56px;
        }
    }

}