// Global

@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/PTSans-Bold.woff2"), url("../fonts/PTSans-Bold.woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/PTSans-Regular.woff2"), url("../fonts/PTSans-Regular.woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

.page-body {

    background-color: #E7E5E5;

}

.page-container {
    background-color: white;
    margin: 0 auto;
    max-width: 1200px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;

    a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



// Header

.main-header {
    position: relative;

}


.main-navigation {
    display: block;

    @media (max-width:767px) {
        height: 223px;
        background-color: #81B3D2;
    }
}

@media (max-width:767px) {
    .main-navigation--closed {
        display: none;
    }
}

.main-navigation__list {

    position: relative;
    height: 56px;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;

    @media (max-width:767px) {
        z-index: 2;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
}

.main-navigation__togle--open {
    width: 24px;
    height: 55px;
    cursor: pointer;
    position: absolute;
    left: 86%;
    bottom: 0;
    z-index: 3;

    @media (max-width:767px) {


        &::after {

            position: absolute;
            bottom: 35px;
            content: "";
            width: 23px;
            height: 4px;
            background-color: #81B3D2;
            box-shadow: 0 9px 0 0 #81B3D2, 0 18px 0 0 #81B3D2;
        }
    }
}

.main-navigation__togle--close {
    @media (max-width:767px) {
        position: absolute;
        cursor: pointer;
        width: 50px;
        height: 50px;
        top: 26px;
        left: 86%;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 28px;
            height: 4px;
            background-color: white;
            transition: all 0.3s ease 0s;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

.main-navigation__item {
    width: 238px;
    list-style: none;
    padding-top: 9px;
    text-align: center;
    padding-bottom: 7px;

    @media (max-width:767px) {
        box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.4), inset 0px 2px 0px rgba(255, 255, 255, 0.2);
        width: 100%;


        &:first-child {
            box-shadow: none;
            box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.4)
        }

        &:last-child {
            box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.2);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
            background-repeat: no-repeat;
            background-size: 100% 7px;
            background-position: bottom;
        }
    }


    a {
        font-family: 'PT Sans';
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;

        @media (max-width:767px) {
            color: white;
            font-weight: 700;
            font-size: 18px;
            line-height: 40px;
        }
    }
}

.main-navigation-line {
    position: relative;

    picture {
        display: block;
        text-align: center;
    }

    @media (min-width:767px) {
        picture {
            display: none;
        }
    }

    @media (max-width:767px) {
        background-color: #fff;
        width: 100%;
        height: 56px;

    }
}

.main-navigation__item--logo {
    list-style: none;
    margin-left: 29px;
    margin-right: 29px;
    z-index: 2;

    @media (max-width:767px) {

        display: none;
    }
}

.intro-wrapper {
    position: absolute;
    top: 56px;
}

.intro-wrapper {
    position: relative;
}


.intro {
    position: absolute;
    top: -56px;
    width: 100%;
    height: 518px;
    background-image: url("../img/back-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

    @media (max-width:767px) {
        background-image: url("../img/back-tablet.jpg");
    }

    @media (max-width:320px) {
        background-image: url("../img/back-mobile.jpg");
        top: -121px;
    }
}

.intro__slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 519px;
    background-image: url("../img/intro-triangle.svg");
    background-position: center bottom;
    background-repeat: no-repeat;

    @media (max-width:320px) {
        height: 455px;
    }

    img {
        @media (max-width:767px) {
            margin-top: -56px;
        }

        @media (max-width:320px) {
            margin-top: 69px;
        }
    }

}